* {
    font-family: "Space Mono", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: #1a1814;
    display: flex;
    padding: 3rem;
}
main {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav {
    display: flex;
    font-family: "Space Mono", monospace;
    background-color: #2e2c28;
    justify-content: flex-start;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: #c0c0c0;
    font-size: 1rem;
    border: 1px solid #c0c0c0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-right: 1rem;
    font-size: 1.2rem;
    font-size: 14px;
}

