* {
    font-family: "Space Mono", monospace;
    text-wrap: balance;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #1a1814;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

main {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

header {
    text-align: center;
}

.navbar {
    font-family: "Space Mono", monospace;
    background-color: #2e2c28;
}


nav {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
}

nav a {
    margin-right: 1rem;
    font-size: 1.2rem;
    font-size: 14px;

}

.navbar nav a {
    text-decoration: none;
    color: #c0c0c0;
    font-size: 1rem;
    border: 1px solid #c0c0c0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}



.nombre h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 3rem;
    font-size: 40px;
    color: #ff0202;
    max-width: 400px;
}


.nombre h2 {

    font-weight: 100;
    font-size: 1.7vh;
    color: #18ad04;
}

.nombre {
    display: flex;
    flex-direction: column;
    
}

.perfil {
    margin: 2rem;
    color: #c0c0c0;
    display: flex;
}

.experiencia {
    display: flex;
    color: #c0392b;
    font-weight: 100;
    line-height: 2rem;
    font-size: 13px;
    gap: 10px;
}

.habilidades {
    margin: 2rem;
    color: #c0c0c0;
}

.footer {
    text-align: center;
    padding: 1rem;
    color: #c0c0c0;
}

.perfil {
    display: flex;
    gap: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.perfil h3 {
    color: #c0392b;
    font-weight: 100;
    line-height: 2rem;
    font-size: 13px;

}

p {
    color: #c0c0c0;
    font-size: 13px;
    line-height: 1.5rem;
    flex-wrap: wrap;
}


.experiencia h3 {
    color: #c0392b;
    font-weight: 100;
    font-size: 13px;
}

.experiencia p {
    color: #c0c0c0;
    font-size: 13px;
    line-height: 1.5rem;
}

.titulos {
    display: flex;
    flex-direction: column;
}

.titulos h4 {
    color: #c0c0c0;
}

.linea {
    height: 0.5px;
    background-color: #2e2c28;
    margin-bottom: 20px;
    margin-top: 20px;
    flex: 1;
}

ul li  {
    color: #c0c0c0;
}

.lineadiv {
    height: 0.5px;
    background-color: #2e2c28;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}

.habilidades{

    display: flex;
    flex-direction: column;
}
